<!-- inserted at bottom of all html generated -->
<!-- default: -->
<!-- <p class=\"author\">Author: %a (%e)</p>\n<p class=\"date\">Date: %d</p>\n<p class=\"creator\">%c</p>\n<p class=\"validation\">%v</p> -->

<!-- The second element of each list is a format string to format the -->
<!-- postamble itself.  This format string can contain these elements: -->

<!--   %t stands for the title. -->
<!--   %s stands for the subtitle. -->
<!--   %a stands for the author's name. -->
<!--   %e stands for the author's email. -->
<!--   %d stands for the date. -->
<!--   %c will be replaced by org-html-creator-string. -->
<!--   %v will be replaced by org-html-validation-link. -->
<!--   %T will be replaced by the export time. -->
<!--   %C will be replaced by the last modification time. -->
<!--   %G will be replaced gitlab links -->

<div class="postamble">
  %G
  <p class="creator">%c</p>
  <p>Copyright (C) 2024 %a (%e). Unless otherwise stated, all code snippets are licensed under the <a href="https://gitlab.com/popska/blog/-/blob/master/LICENSE?ref_type=heads">MIT License</a> and post content is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a> license. Thanks for reading!</p>
</div>
