<!--
    $1 is html file name of post (href)
    $2 is title of post
    $3 is date of post
    $4 is preview text
  -->

<div class="preview">
  <h4 style="margin-bottom: 4px"><a href="$1">$2</a></h4>
  <div class="post-time">$3</div>
  <div class="notice" style="padding: 0.5rem">
    <p>$4</p>
    <a href="$1">read more...</a>
  </div>
</div>
