.preview {
  margin-bottom: 4em;
}

.postamble {
  border-top-color: lightgray;
  border-style: solid;
  border-top-width: 2px;
  border-left-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  font-size: 0.8rem;
  margin-top: 2rem;
}
